* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.hero {
  max-width: 1600px;
  padding: 37px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 482px;
  background-image: url("../assets/images/hero-background.svg");

  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0.5px;
}

.hero::before,
.hero::after {
  content: "";
  width: 29%;
  height: 8px;
  top: 98%;
  left: 74%;
  transform: rotate(-4deg);
  background-color: #fff;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 17px 10px rgba(252, 252, 252, 0.3);
}

.hero::before {
  width: 70px;
  left: 3%;
  transform: rotate(4deg);
  z-index: -1;
}
.navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navegacion__link {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.titulo {
  color: #fff;
  text-align: center;
  font-family: Fraunces;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 70px;
  margin-bottom: 40px;
  font-style: normal;
}

.titulo__link {
  color: #fff;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.button {
  background-color: #44ffa1;
  border: none;
  color: #24053e;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.16px;
  max-width: 190px;
  padding: 12px 24px;
}

.hero__picture {
  width: 298.305px;
  height: 178.159px;
  margin-top: 60px;
}

.hero__image {
  width: 100%;
}

.main {
  padding-top: 160px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #24053e;
  background-color: #fcf8ff;
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  align-items: center;
}

.article__number {
  display: inline-block;
  color: #24053e;
  min-width: 48px;
  min-height: 48px;
  font-family: Fraunces;
  font-size: 20px;
  font-weight: 600;
  line-height: 48px; /* 180% */
  border-radius: 50%;
  border: 1px solid #24053e;
  text-align: center;
}

.article__title {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
  margin-top: 24px;
  margin-bottom: 16px;
}

.article__description {
  color: #584d62;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.info {
  margin-top: 100px;
  margin-bottom: 24px;
  padding: 0 16px;
}

.info__picture {
  display: flex;
  justify-content: center;
}

.info__image {
  width: 265px;
  height: 265px;
}

.info__article {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24053e;
  padding: 32px;
  transform: translatey(-50px);
}

.info__article-title {
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
}

.info__article-description {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 24px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 64px;
}

.footer-icons {
  display: flex;
  gap: 30px;
}

@media (min-width: 768px) {
  .hero {
    padding-left: 40px;
    padding-right: 40px;
    height: 540px;
  }

  .hero::before,
  .hero::after {
    width: 40%;
    height: 15%;
    top: 97%;
    left: 60%;
    transform: rotate(-4deg);
    background-color: #fff;
    z-index: 1;
  }

  .hero::before {
    top: 96%;
    width: 35%;
    left: -1%;
    transform: rotate(5deg);
  }

  .hero__picture {
    width: 470px;
    height: 272px;
    margin-top: 60px;
    z-index: 2;
  }

  /*texto*/
  .main {
    align-items: center;
  }

  .article {
    flex-direction: row;
    max-width: 573px;
    gap: 32px;
    text-align: left;
  }

  .info {
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    position: relative;
    height: 530px;
  }

  .info__picture {
    position: absolute;
    left: 0;
    top: 0;
  }

  .info__image {
    width: 281px;
    height: 281px;
  }

  .info__article {
    padding: 48px 56px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 514px;
    transform: none;
    align-items: flex-start;
  }

  .info__article-description {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 730px;
  }

  .hero::before,
  .hero::after {
    min-width: 55%;
    height: 50%;
    top: 80%;
    left: 48%;
    transform: rotate(-4deg);
    background-color: #fff;
    z-index: 1;
  }

  .hero::before {
    top: 79%;
    max-width: 100%;
    left: -1%;
    transform: rotate(5deg);
  }

  .main {
    position: static;
    padding-top: 300px;
    padding-bottom: 171px;
    padding-left: 165px;
    padding-right: 161px;
    flex-direction: row;
  }

  .info__picture {
    display: flex;
    justify-content: center;
  }

  .titulo {
    font-size: 80px;
    line-height: 80px;
  }

  .hero__picture {
    max-width: 715px;
    height: 427px;
    margin-top: 50px;
  }

  /*texto*/

  .info__article {
    width: 730px;
    height: 413px;
    position: absolute;
    left: 604px;
    top: 170px;
    gap: 32px;
  }

  .article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .article__title {
    font-size: 32px;
    line-height: 40px; /* 128.571% */
  }

  .article__description {
    width: 354px;
    height: 128px;

    font-size: 18px;
    line-height: 30px; /* 175% */
  }
  .info {
    margin: 0;
  }
  .info__image {
    width: 477px;
    height: 477px;
    display: inline-block;
    position: relative;
    left: 221px;
  }

  .info__article-title {
    font-size: 56px;
  }

  .footer {
    margin-top: 120px;
    margin-bottom: 64px;
  }
}
